<div nz-row>
  <div nz-col nzSpan="12" class="padding">
    <div>操作人：A</div>
    <button nz-button nzType="primary" class="mt-5 mr-10">增加</button>
    <button nz-button nzType="danger" class="mt-5 mr-10">减少</button>
    <button nz-button nzType="default" class="mt-5 ">重置</button>
  </div>
  <div nz-col nzSpan="12" class="padding">
    <div>操作人：B</div>
    <button nz-button nzType="primary" class="mt-5 mr-10">增加</button>
    <button nz-button nzType="danger" class="mt-5 mr-10">减少</button>
    <button nz-button nzType="default" class="mt-5 ">重置</button>
  </div>
</div>
